:root {
     --body-background: rgba(255, 217, 1, 0.3);
     --header-footer-background: rgba(160, 81, 45, 0.5);
     --body-content-background: rgb(128, 128, 128);
 }

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-image: linear-gradient(rgba(255, 217, 0, 0.315),rgba(255, 217, 0, 0.315) ) , url(../media/images/bkgold.jpg);
     background-size: cover;
     background-attachment: fixed;
     background-position: center center;
     font-family: 'Courier New', Courier, monospace;
}
header {
     min-height: 90vh;
}
nav {
     display: flex;
     justify-content: space-around;
     align-content: center;
     min-height: 8vh;
     padding: 5px;
}
.nav-links {
     padding-top:10px;
     list-style: none;
     display: flex;
     justify-content: space-around;
     width: 55%;
}

.nav-links li a {
     color: black;
     text-decoration: none;
     font-weight: bold;
     font-size: 28px;
     cursor: pointer;
}
.nav-links :hover {
     color: sienna;
     border-bottom: 3px solid goldenrod;
     border-radius: 15px;
}

nav div a img {
     height: 35px;
     height: 35px;
     padding-top: 5px;
}
.logo {
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size: 25px;
}
.logo a {
     list-style-type: none;
     color: black;
     text-decoration: none;
}
.burger {
     display: none;
     cursor: pointer;
     background-color: black;
     font-weight: bold;
     font-size:35px;
     padding-top: 5px;;
}
.burger div {
     margin: 5px;
     background-color: black;
     transition: all 0.3s ease;
}
.body-wrapper p{
     text-align: center;
     margin-top: 150px;
     font-weight: bold;
     font-size: 50px;
}

.home-button a{
     text-decoration: none;
     color: black;
}

.home-button {
     margin-left: 43%;
     height: 45px;
     width: 250px;
     font-weight: bold;
     font-size: 35px;
     justify-self: center;
     border-radius: 15px;
     color: black;
     background-color: transparent;
}
.home-button :hover{
     color: sienna;
     border-bottom: 3px solid goldenrod;
 }


footer {
     min-height: 10vh;
}
.nav-footer ul{
     list-style: none;
     display: flex;
     justify-content: space-around;
     width: 100%;
     margin-bottom: 0;
     padding-bottom: 5px;
     min-height: 10px;
     font-weight: bold;
     color: black;
}
.nav-footer ul li a {
     list-style: none;
     color: sienna;
     cursor: pointer;
}

footer nav ul li a {
     text-decoration: none;
}

/* End of Home Page */

.loginbox {
     max-height: 550px;
     max-width: 450px;
     border-radius: 15px;
     margin: 5% 35%;
     box-sizing: border-box;
     opacity: .7;
 } 
form{
     background: sienna;
     width: 350px;
     margin-top: 3%;
     box-sizing: border-box;
     outline: none;
     border: none;
     border-radius: 5px;
     padding: 25px ;
     font-size: 19px;
}
input[type=text],
input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 9px 5px;
    background: rgba(0, 0, 0, .50);
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}
button{
     width: 50%;
     box-sizing: border-box;
     padding: 5px;
     margin-top: 35px;
     outline: none;
     border: none;
     opacity: 0 .7;
     border-radius: 15px;
     font-weight: bold;
     font-size: 31px;
     cursor: pointer;
     margin:  5% 25%;
 }
button a {
      text-decoration: none;
      color: black;
 }
button a:hover {
     color: sienna;
}
h3 {
     margin: 0;
     padding: 0 0 20px;
     text-align: center;
     font-size: 35px;
     background: transparent;
}
.loginbox p {
     margin: 0;
     padding: 0;
     font-weight: bold;
}
.loginbox input {
     width: 100%;
     margin-bottom: 20px ;
}
.loginbox input [type="text"],
.loginbox input [type="password"] {
     border: none;
     border-bottom: 1px solid #000;
     background: transparent;
     outline: none;
     height: 40px;
}

/* End of Login Page */

.profile-image {
     width: 25px;
}
.body-profile-wrapper p {
     margin-top: 3%;
     text-align: center;
     font-size: 33px;
}

/* End Profile page */

.createbox {
     max-height: 550px;
     max-width: 450px;
     border-radius: 15px;
     margin: 5% 35%;
     box-sizing: border-box;
     opacity: .7;
}

/* End of Create */

.listcontents {
     border-collapse: collapse;
     padding: 5%;
     font-size: 0.9em;
     border-radius: 5px;
     overflow: hidden;
     box-shadow: 0 0 20px rgba(0, 0, 0, .5);
     margin: 5%;
     width: 90%;
}
.listcontents p {
     text-align: center;
     font-weight: bold;
     font-size: 35px;
}
.tablelistcontents tbody tr td video {
     padding: 3% ;
     height: 80px;
}
.tablelistcontents tbody tr td img {
     height: 80px;
}
.tablelistcontents thead tr {
     background: var(--header-footer-background);
     color: black;
     text-align: left;
     font-weight: bold;
}
.tablelistcontents {
     margin: 5% auto;
     padding: 5% auto;    
}
.tablelistcontents th,
.tablelistcontents td {
     padding: 5px 10px;
}
.tablelistcontents tbody tr {
     border-bottom: 1px solid rgba(0, 0, 0, 0.794);
}
.tablelistcontents tbody tr:nth-of-type(even) {
     background-color:rgba(160, 81, 45, 0.767); 
}
.tablelistcontents tbody tr:last-of-type {
border-bottom: var(--header-footer-background);
}

/* End of Contents */

.statusescontents {
     border-collapse: collapse;
     padding: 5%;
     font-size: 0.9em;
     border-radius: 5px;
     overflow: hidden;
     box-shadow: 0 0 20px rgba(0, 0, 0, .5);
     margin: 7% 20%;
     width: 60%;
}
.statusescontents p{     
     text-align: center;
     font-weight: bold;
     font-size: 35px;
}
.tablestatusescontents {     
     margin: 5% a2%;
     padding: 5% auto;    
}
.tablestatusescontents thead tr {
     background: var(--header-footer-background);
     color: black;
     text-align: left;
     font-weight: bold;
     font-size: 19px;
}
.tablestatuesescontents th,
.tablestatusescontents td {
     text-align: left;
     padding: 2% 1%;
}
.tablestatusescontents tbody tr {
     border-bottom: 1px solid rgba(0, 0, 0, 0.794);
}
.tablestatusescontents tbody tr:nth-of-type(1) {
     font-weight: bold;
     font-size: 18px;
}


/* End of Statuses */

@media screen and (max-width: 950px) {
     nav {
          width: 100%;
          display: inline-block;
          min-height: 12vh;
     }
     .logo
     {
          text-align: center;
     }
     .nav-links {
          display: flex;
          flex-direction: row;
          margin-left: 150px;
          width: 60%;

     }
     
}
@media screen and (max-width:650px) {
     .logo {
          text-align: left;
     }
     .burger {
          font-weight: 600px;
          background-color: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1)); 
     }
     .loginbox {
          margin: 58% 0% 15% 0%;
          box-sizing: border-box;
          opacity: .7;
     }
     .createbox {
          max-height: 550px;
          max-width: 450px;
          border-radius: 15px;
          margin: 75% 0 15% 0;
          box-sizing: border-box;
          opacity: .7;
     }
     
     form {
          margin-left: 15%;
     }
     nav {
          width: 100%;
          display: flex;
          flex-direction: row;
          min-height: 8vh;
     }
     body {
          overflow-x: hidden;
     }
     .nav-links {
          position: absolute;
          right: 0px;
          height: 50vh;
          top: 8vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 8px;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
     }
     .nav-links li {
          opacity: 0;
     }
     .burger {
          display: block;
     }
     .nav-footer ul{
          list-style: none;
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 0;
          padding-bottom: 5px;
          min-height: 10px;
          font-weight: bold;
          text-align: center;
     }
}
.nav-active  {
     transform: translateX(0%);
}

@keyframes navLinkFade {
     from {
          opacity: 0;
          transform: translateX(50px);
     }
     to {
          opacity: 1;
          transform: translateX(0px);
     }
}
.toggle .line1 {
     transform: rotate(-45deg)  translateX( -5px, 6px ) ;
}
.toggle .line2 {
     opacity: 0 ;
}
.toggle .line5 {
     transform: rotate (45deg) translateX( -5px, -6px ) ;
}
